.btn {
    background-color: $color-primary-light;
    color: $color-text;
    font-size: $font-size-main;
    font-weight: 600;
    font-family: inherit;
    text-align: center;
    letter-spacing: 0.2rem;
    padding: 1.5rem 5rem;
}
