h1 {
    font-size: $font-size-h1;
}

h2 {
    font-size: $font-size-h2;
}

h3 {
    font-size: $font-size-h3;
}

h4 {
    font-size: $font-size-h4;
}

p {
    font-size: $font-size-main;
}

.nav {
    font-size: $font-size-main;

    &__logo {
        font-size: $font-size-logo;
        text-transform: uppercase;
        text-decoration: none;
        color: $color-text;
        letter-spacing: 3px;
    }

    &__menu {
        list-style: none;
        text-align: center;

        .item {
            letter-spacing: 2px;

            &-link {
                text-decoration: none;
                color: $color-text;
            }
        }
    }
}
.header {
    .heading-primary {
        letter-spacing: 3px;
    }
}

.section {
    &-about {
        .image-box {
            &-message {
                text-align: center;
                .heading-secondary {
                    text-transform: uppercase;
                    width: 60%;
                }
            }
        }
    }

    &-join-us {
        .form-label {
            font-size: $font-size-main;
            font-weight: 400;
        }
    }
}
