.nav {
    font-size: $font-size-main;

    &__logo {
        font-size: $font-size-logo;
        text-transform: uppercase;
        text-decoration: none;
        color: $color-text;
        letter-spacing: 3px;
    }

    &__menu {
        list-style: none;
        text-align: center;

        .item {
            letter-spacing: 2px;

            &-link {
                text-decoration: none;
                color: $color-text;
            }
        }
    }
}
.header {
    .heading-primary {
        font-size: $font-size-h1;
        letter-spacing: 3px;
    }
}

.section {
    &-about {
        .text-box {
            .heading-secondary {
                font-size: $font-size-h2;
            }

            &-paragraph {
                font-size: $font-size-main;
            }
        }

        .image-box {
            &-message {
                text-align: center;
                .heading-secondary {
                    font-size: $font-size-h2;
                    text-transform: uppercase;
                    width: 60%;
                }
            }
        }
    }
}
