.section {
    &-exercises {
        .text-box {
            width: 40%;
        }

        .gallery {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            height: 50%;

            &-row-1 {
                width: 49%;
                position: relative;
                margin-bottom: -1.5rem; // Fixed slight spacing issue in gallery between rows
            }
            &-row-2 {
                width: 32%;
                position: relative;
            }

            &-image {
                display: inline-block;
                width: 100%;
                height: 40rem;
                object-fit: cover;
                margin-bottom: 1.5rem;
            }

            &-header {
                position: absolute;
                bottom: 3rem;
                margin-left: 3rem;
            }

            &-box-shadow {
                position: absolute;
                bottom: 1.5rem;
                left: 0;
                width: 100%;
                height: 20%;
                box-shadow: inset 0px -3rem 3rem black;
                border-bottom: 0.5rem solid $color-secondary;
            }
        }
    }
}
