.section {
    &-join-us {
        background-image: url(../../../img/image7.jpg);
        background-size: cover;
        padding: 10rem;

        .text-box {
            width: 50%;
        }

        .form {
            position: relative;

            &-label {
                margin-bottom: 1rem;

                &__input {
                    position: absolute;
                    top: -3rem;
                    margin-left: 2px; // OCD in full effect
                }

                &__text-area {
                    display: block;
                }
            }

            &-input {
                background-color: $color-tertiary-light;
                height: 5rem;
                padding-left: 1rem;

                &__name {
                    width: 25%;
                    margin-right: 1rem;
                }

                &__email {
                    width: 34%;
                }

                &__text-area {
                    display: block;
                    resize: none;
                    width: 60.5%;
                    height: 20rem;
                    padding-top: 1rem;
                }
            }
        }
    }
}
