.section {
    &-testimony {
        .testimonial {
            border-left: 7px solid $color-secondary;
            padding-left: 7rem;
            width: 60%;

            &-author {
                display: flex;
                justify-content: space-between;

                &-block {
                    display: flex;
                    align-items: center;
                }

                &-image {
                    width: 12em;
                    height: 12rem;
                    margin-right: 2rem;

                    &__img {
                        width: 100%;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}
