// Colors

$color-primary-dark: #08022d;
$color-primary-light: #3d20ef;
$color-secondary: #ffd600;
$color-tertiary: #9e9da6;
$color-tertiary-light: #d7d7ec;
$color-text: #fff;

//Fonts

$font-size-main: 1.8rem;
$font-size-logo: 2.8rem;
$font-size-h1: 7rem;
$font-size-h2: 4.8rem;
$font-size-h3: 3.8rem;
$font-size-h4: 2rem;
