html {
  font-size: 62.5%;
}
html body {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1.5;
  color: #fff;
  background-color: #08022d;
}
html body .wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
html body p {
  font-weight: 400;
  line-height: 4rem;
}
html body section {
  margin: 10rem 0;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3.8rem;
}

h4 {
  font-size: 2rem;
}

p {
  font-size: 1.8rem;
}

.nav {
  font-size: 1.8rem;
}
.nav__logo {
  font-size: 2.8rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  letter-spacing: 3px;
}
.nav__menu {
  list-style: none;
  text-align: center;
}
.nav__menu .item {
  letter-spacing: 2px;
}
.nav__menu .item-link {
  text-decoration: none;
  color: #fff;
}

.header .heading-primary {
  letter-spacing: 3px;
}

.section-about .image-box-message {
  text-align: center;
}
.section-about .image-box-message .heading-secondary {
  text-transform: uppercase;
  width: 60%;
}
.section-join-us .form {
  font-size: 1.8rem;
  font-weight: 400;
}
.section-testimony .testimonial-text {
  font-size: 26px;
}
.section-testimony .testimonial-author-info {
  text-align: center;
}
.section-testimony .testimonial-author-info__name {
  font-size: 26px;
}

.u-margin-bottom-small {
  margin-bottom: 1rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-top-small {
  margin-top: 1rem !important;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.btn {
  background-color: #3d20ef;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: inherit;
  text-align: center;
  letter-spacing: 0.2rem;
  padding: 1.5rem 5rem;
  border: 0;
}

.sub-header {
  position: relative;
}
.sub-header .slashes {
  position: absolute;
  top: 0;
}
.sub-header .heading-secondary {
  margin-left: 6rem;
  display: inline-block;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.8rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem 0;
}
.nav__logo {
  display: inline-block;
  position: relative;
}
.nav__logo::after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}
.nav__logo:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}
.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__menu .item {
  position: relative;
}
.nav__menu .item:not(:last-child) {
  margin-right: 3rem;
}
.nav__menu .item-link {
  padding: 3rem 0;
}
.nav__menu .item-link::after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}
.nav__menu .item-link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.header {
  position: relative;
  margin-bottom: 10rem;
}
.header__text-box {
  text-align: center;
  margin: 10rem 0;
}
.header__image-box {
  height: 55rem;
  position: relative;
}
.header__image-box .heading-image {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__image-box .heading-badge {
  position: absolute;
  top: -6%;
  left: 48%;
  height: 8rem;
}

.section-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section-about .text-box {
  width: 40%;
  display: inline-block;
}
.section-about .image-box {
  width: 55%;
  height: 60rem;
  position: relative;
}
.section-about .image-box-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3d20ef;
  width: 32rem;
  height: 40rem;
  position: absolute;
  bottom: 0;
  left: 10rem;
  z-index: 1;
}
.section-about .image-box-image {
  display: inline-block;
  width: 40rem;
  height: 45rem;
  position: absolute;
  right: 0;
}

.section-exercises .text-box {
  width: 40%;
}
.section-exercises .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  height: 50%;
}
.section-exercises .gallery-row-1 {
  width: 49%;
  position: relative;
  margin-bottom: -1.5rem;
}
.section-exercises .gallery-row-2 {
  width: 32%;
  position: relative;
}
.section-exercises .gallery-image {
  display: inline-block;
  width: 100%;
  height: 40rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1.5rem;
}
.section-exercises .gallery-header {
  position: absolute;
  bottom: 3rem;
  margin-left: 3rem;
}
.section-exercises .gallery-box-shadow {
  position: absolute;
  bottom: 1.5rem;
  left: 0;
  width: 100%;
  height: 20%;
  -webkit-box-shadow: inset 0px -3rem 3rem black;
          box-shadow: inset 0px -3rem 3rem black;
  border-bottom: 0.5rem solid #ffd600;
}

.section-join-us {
  background-image: url(../../../img/image7.jpg);
  background-size: cover;
  padding: 10rem;
}
.section-join-us .text-box {
  width: 50%;
}
.section-join-us .form {
  position: relative;
}
.section-join-us .form-label {
  margin-bottom: 1rem;
}
.section-join-us .form-label__input {
  position: absolute;
  top: -3rem;
  margin-left: 2px;
}
.section-join-us .form-label__text-area {
  display: block;
}
.section-join-us .form-input {
  background-color: #d7d7ec;
  height: 5rem;
  padding-left: 1rem;
}
.section-join-us .form-input__name {
  width: 25%;
  margin-right: 1rem;
}
.section-join-us .form-input__email {
  width: 34%;
}
.section-join-us .form-input__text-area {
  display: block;
  resize: none;
  width: 60.5%;
  height: 20rem;
  padding-top: 1rem;
}

.section-testimony .testimonial {
  border-left: 7px solid #ffd600;
  padding-left: 7rem;
  width: 60%;
}
.section-testimony .testimonial-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section-testimony .testimonial-author-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-testimony .testimonial-author-image {
  width: 11em;
  margin-right: 2rem;
}
.section-testimony .testimonial-author-image__img {
  width: 100%;
  border-radius: 50%;
}

.section-banner .banner-image {
  height: 50rem;
}
.section-banner .banner-image__img {
  width: 100%;
  height: 75%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}